In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math

In [2]:
d1 = [['Test1','A',437717,62387,2881],
      ['Test1','B',438820,63874,2908]] 

d2 = [['Test2','A',92001,26695,1524],
      ['Test2','B',92172,26617,1583]] 

d3 = [['Test3','A',52313,13673,810],
      ['Test3','B',51995,16249,894]] 

t1_df = pd.DataFrame(d1,columns=['Test','Variation','Visitors','Leaders','Bookers'])
t2_df = pd.DataFrame(d2,columns=['Test','Variation','Visitors','Leaders','Bookers'])
t3_df = pd.DataFrame(d3,columns=['Test','Variation','Visitors','Leaders','Bookers'])

t1_df.set_index('Test',inplace=True)
t2_df.set_index('Test',inplace=True)
t3_df.set_index('Test',inplace=True)

t1_df.head()

      Variation  Visitors  Leaders  Bookers
Test
Test1         A    437717    62387     2881
Test1         B    438820    63874     2908

### Sample size
* Set MDE (Minimun detectable effect)
* Set Variations number
* Set Current Conversion (Baseline)

In [6]:
########### Test sample config ##############
mde = 0.06
variations = 2
base_conversion = 0.0664
############################################

std = math.sqrt(base_conversion * (1-base_conversion))
n_at_p80 = 16 * variations * (std/(base_conversion*mde))**2
n_at_p95 = 26 * variations * (std/(base_conversion*mde))**2

print ('''STD (spread): {:.2f}
N at 80% power: {:.0f}
N at 95% power: {:.0f}'''.format(std,math.ceil(n_at_p80),math.ceil(n_at_p95)))

STD (spread): 0.25
N at 80% power: 124980
N at 95% power: 203093

### Test evaluation

In [4]:
###### Set test to evaluate #######
df = t1_df

In [5]:
###################################
df['Leaders_Rate']=df['Leaders']['Test1']/df['Visitors']['Test1']
df['Bookers_Rate']=df['Bookers']['Test1']/df['Visitors']['Test1']

#df['SE_Leaders']=  math.sqrt(df['Leaders_Rate']['Test1']*(1-df['Leaders_Rate']['Test1'])/df['Visitors']['Test1']) 
#df['SE_Bookers']=  df['Bookers_rate']['Test1']

df.head()

      Variation  Visitors  Leaders  Bookers  Leaders_Rate  Bookers_Rate
Test
Test1         A    437717    62387     2881      0.142528      0.006582
Test1         B    438820    63874     2908      0.145559      0.006627